<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-

instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>phonemarket</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AddtoCartServlet</display-name>
		<servlet-name>AddtoCartServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.AddtoCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PDetelePhoneServlet</display-name>
		<servlet-name>PDetelePhoneServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.PDetelePhoneServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PhoneOrdNumChangeServlet</display-name>
		<servlet-name>PhoneOrdNumChangeServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.PhoneOrdNumChangeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PQueryByIdServlet</display-name>
		<servlet-name>PQueryByIdServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.PQueryByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DelPhoneFromCartServlet</display-name>
		<servlet-name>DelPhoneFromCartServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.DelPhoneFromCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeteleUserServlet</display-name>
		<servlet-name>DeteleUserServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.DeteleUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EDeteleEmployeeServlet</display-name>
		<servlet-name>EDeteleEmployeeServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.EDeteleEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EQueryByIdPwServlet</display-name>
		<servlet-name>EQueryByIdPwServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.EQueryByIdPwServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertPhoneServlet</display-name>
		<servlet-name>InsertPhoneServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.InsertPhoneServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertEmployeeServlet</display-name>
		<servlet-name>InsertEmployeeServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.InsertEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertOrderServlet</display-name>
		<servlet-name>InsertOrderServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.InsertOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertPublisherServlet</display-name>
		<servlet-name>InsertPublisherServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.InsertPublisherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertCompanyServlet</display-name>
		<servlet-name>InsertCompanyServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.InsertCompanyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertUserServlet</display-name>
		<servlet-name>InsertUserServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.InsertUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ODqueryByOIdServlet</display-name>
		<servlet-name>ODqueryByOIdServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.ODqueryByOIdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CDetelePublisherServlet</display-name>
		<servlet-name>CDetelePublisherServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.CDetelePublisherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CDeteleCompanyServlet</display-name>
		<servlet-name>CDeteleCompanyServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.CDeteleCompanyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>QueryByIdPwServlet</display-name>
		<servlet-name>QueryByIdPwServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.QueryByIdPwServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatePhoneServlet</display-name>
		<servlet-name>UpdatePhoneServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.UpdatePhoneServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateOrderStateServlet</display-name>
		<servlet-name>UpdateOrderStateServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.UpdateOrderStateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUserStateServlet</display-name>
		<servlet-name>UpdateUserStateServlet</servlet-name>
		<servlet-class>cn.huateng.servlet.UpdateUserStateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddtoCartServlet</servlet-name>
		<url-pattern>/AddtoCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PDetelePhoneServlet</servlet-name>
		<url-pattern>/PDetelePhoneServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PhoneOrdNumChangeServlet</servlet-name>
		<url-pattern>/PhoneOrdNumChangeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PQueryByIdServlet</servlet-name>
		<url-pattern>/PQueryByIdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelPhoneFromCartServlet</servlet-name>
		<url-pattern>/DelPhoneFromCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeteleUserServlet</servlet-name>
		<url-pattern>/DeteleUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EDeteleEmployeeServlet</servlet-name>
		<url-pattern>/EDeteleEmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EQueryByIdPwServlet</servlet-name>
		<url-pattern>/EQueryByIdPwServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertPhoneServlet</servlet-name>
		<url-pattern>/InsertPhoneServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertEmployeeServlet</servlet-name>
		<url-pattern>/InsertEmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertOrderServlet</servlet-name>
		<url-pattern>/InsertOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertPublisherServlet</servlet-name>
		<url-pattern>/InsertPublisherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertCompanyServlet</servlet-name>
		<url-pattern>/InsertCompanyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertUserServlet</servlet-name>
		<url-pattern>/InsertUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ODqueryByOIdServlet</servlet-name>
		<url-pattern>/ODqueryByOIdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CDetelePublisherServlet</servlet-name>
		<url-pattern>/CDetelePublisherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CDeteleCompanyServlet</servlet-name>
		<url-pattern>/CDeteleCompanyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryByIdPwServlet</servlet-name>
		<url-pattern>/QueryByIdPwServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePhoneServlet</servlet-name>
		<url-pattern>/UpdatePhoneServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateOrderStateServlet</servlet-name>
		<url-pattern>/UpdateOrderStateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserStateServlet</servlet-name>
		<url-pattern>/UpdateUserStateServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
