@charset "utf-8";
/* CSS Document */

body{
	margin : 0px;
	padding : 0;
}

.foot{ width:100%; margin-top:10px; background-color:#009; height:130px;}
p{text-align:center; color: #FFF;  font-size:11px;padding:15px 0px 10px 0px;}
#logo{
	display:block;
	float:left;
	
	}